Package: brace
Version: 20260508-3
Section: custom
Priority: optional
Architecture: all
Essential: no
Maintainer: Tavi <tavi@divested.dev>
Description: Increases privacy/security through various configs.
