polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.packagekit.package-install" ||
        action.id == "org.freedesktop.packagekit.package-remove") {
        return polkit.Result.AUTH_ADMIN;
    }
});
